<%- include('../partials/html-head') %>

</head>
<body  class="homePage">
<%- include('../partials/nav') %>


<main>
  <div class="container-lg py-3">
 
      
      <div 
      class="row row-cols-1 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 g5 g-sm-3 g-xxl-5 px-sm-5 px-4 py-3">
      <% profile.books.forEach((book) => { %>

      <% }) %> 
    </div>
    
         
    
  </div>
</main>


<%- include('../partials/footer') %>
