
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #d6a400;">
    <div class="container">
      <a href="/" class="navbar-brand">
        <img src="/images/book/logo/book-open.svg" alt='logo' class='nav-logo'/>
        MyReadingList</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu" >
        <span class="navbar-toggler-icon"></span>
      </button>

  

    </div>
  </nav>
